<!doctype html>
<html lang="fr" ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>Directives: ng-repeat</title>
		<link rel="stylesheet" href="style.css">
	</head>
<body>
<div id="wrapper" ng-controller="UsersCtrl">
	<h1>Détails</h1>

	<hr>
	<h2> Afficher user Groupe</h2>
	<input type="text" ng-model="searchUser" placeholder="Chercher dans la liste" autofocus>
	<ul>
	
		<li class="user" ng-repeat="user in users.records| filter:searchUser">
			{{user.username}}
		</li>
    </ul>
	<hr>
<h2>usercolor</h2>
	<ul>
		<li class="user" ng-repeat="user in users.records | orderBy:['usercolor']">
			{{user.usercolor}}
			<div class="records" ng-class="friend.records"></div>
		</li>
	</ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>