
<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/app.css">
     <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <Title>Happycount</Title>

</head>

<body>
<header>
<h1>HappyCount</h1> 
<i class="fa fa-user user1" aria-hidden="true"> Johnny</i>
</header>

<input type="search" placeholder="Recherche" name="the_search"> <a href="#"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>

<h2>Mes Equipes</h2>

<ul class="clearfix">
  <li>
    <figure>
    <h3>TEAM </br>FOOTBALL</h3>
      <a href="#" target="_blank"><img src="images/foot1.jpg" alt="football"></a>
      <figcaption><a href="#" class="button">ACCEDER</a></figcaption>
    </figure>
  </li>
  <li>
    <figure>
    <h3>TEAM </br>WORK</h3>
       <a href="#" target="_blank"><img src="images/work.jpg" alt="work"></a>
      <figcaption><a href="#" class="button">ACCEDER</a></figcaption>
    </figure>
  </li>
  <li>
    <figure>
    <h3>TEAM </br>FAMILY</h3>
       <a href="#" target="_blank"><img src="images/family1.jpg" alt="famille"></a>
      <figcaption><a href="#" class="button">ACCEDER</a></figcaption>
    </figure>
  </li>
  <li>
    <figure>
    <h3>TEAM </br>TRAVEL</h3>
       <a href="#" target="_blank"><img src="images/travel.jpg" alt="voyage"></a>
      <figcaption><a href="#" class="button">ACCEDER</a></figcaption>
    </figure>
  </li>

<h2>Mes dernières dépenses</h2>

  <li>
    <figure>
    <h3>MIAM-MIAM</h3>
       <a href="#" target="_blank"><img src="images/bouffe.jpg" alt="macaron"></a>
      <h4>Anniv Toto</h4>
      <h5>70$</h5>
      <figcaption><a href="#" class="button">ACCES COMPTE</a></figcaption>
    </figure>
  </li>
  <li>
    <figure>
    <h3>GLOU-GLOU</h3>
       <a href="#" target="_blank"><img src="images/bar.jpg" alt="alcool"></a>
      <h4>Afterwork</h4>
      <h5>20$</h5>
       <figcaption><a href="#" class="button">ACCES COMPTE</a></figcaption>
    </figure>
  </li>
  <li>
    <figure>
    <h3>ROADTRIP</h3>
       <a href="#" target="_blank"><img src="images/roadtrip.jpg" alt="roadtrip"></a>
      <h4>Carburant</h4>
      <h5>40$</h5>
       <figcaption><a href="#" class="button">ACCES COMPTE</a></figcaption>
    </figure>
  </li>
  <li>
    <figure>
    <h3>CADEAUX</h3>
       <a href="#" target="_blank"><img src="images/cadeau.jpg" alt=""></a>
      <h4>Noel</h4>
      <h5>25$</h5>
       <figcaption><a href="#" class="button">ACCES COMPTE</a></figcaption>
    </figure>
  </li>

</ul>


</body>

</html>