<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Appli-angular</title>
	<link rel="stylesheet" type="text/css" href="css/app.css">

	<script type="text/javascript" src="assets/angular/angular.min.js"></script>
	<script type="text/javascript" src="assets/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controller/users.js"></script>
	<script type="text/javascript" src="js/service/user.js"></script>
</head>

<body ng-app="proApp">

<header>
	<div class="Id-visuelle">
		<img src=""/>
	</div>
	<div class="Titre-appli">
		<h1>HappyCount</h1>
	</div>
	<div class="username">
	<p>Roger</p>
	</div>
</header>

<h2>MY TEAMS</h2>
<div id="Partie1">

    <div class="team1">
    	<h3>Team </br>FOOTBALL</h3>
    	<button name="button">ACCES</button>
    </div>
 	<div class="team2">
    	<h3>Team </br>TAF</h3>
    	<button name="button">ACCES</button>
    </div>
 	<div class="team3">
    	<h3>Team </br>FAMILY</h3>
    	<button name="button">ACCES</button>
     </div>

</div>

<h2>MES ACTIONS</h2>




<!--<section class="projects">
		<h3 class="presentationprojects">Mes projets</h3>
	<div class="projet1">
  			<ul>
    			<li><a href="#">toto</a></li>
    			<li><a href="#">tata</a></li>
    			<li><a href="#">titi</a></li>
  			</ul>
		
		<article>
  			<h4>Resto</h4>
  			<p>Débiteur</p>
  			<p>Créditeur</p>
		</article>
		<div class="ajout">
			<p> + ajout user</p>
			<p> + ajout dépenses</p>
		</div>
	</div>

	<div class="projet2">
		<nav>
  			<ul>
    			<li><a href="#">toto</a></li>
    			<li><a href="#">tata</a></li>
    			<li><a href="#">titi</a></li>
  			</ul>
		</nav>

		<article>
  			<h4>Essence</h4>
  			<p>Débiteur</p>
  			<p>Créditeur</p>
		</article>
		<div class="ajout">
			<p> + ajout user</p>
			<p> + ajout dépenses</p>
		</div>
	</div>

	<div class="projet3">
		<nav>
  			<ul>
    			<li><a href="#">toto</a></li>
    			<li><a href="#">tata</a></li>
    			<li><a href="#">titi</a></li>
  			</ul>
		</nav>

		<article>
  			<h4>Bar</h4>
  			<p>Débiteur</p>
  			<p>Créditeur</p>
		</article>
		<div class="ajout">
			<p> + ajout user</p>
			<p> + ajout dépenses</p>
		</div>
	</div>
</section>

<section class="historique">
<div class="historique">
	<h3>Historique user</h3>

</div>

</section>

	<div class="container" ng-view></div>-->

</body>
</html>